body {

}
.nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
#main-nav {
    display: flex;
    justify-content: flex-end;    
}

Falvé {
    display: flex;
    position: relative;
    top: 30px;
    left: 50px;
}

#shop-sub-nav {
    display: flex;
    float: right;
    font-weight: 400;
    justify-content: center;
}


