body {

}

.main nav {
    display: flex;
    justify-content: flex-end;    
}

Falvé {
    display: flex;
    position: relative;
    top: 30px;
    left: 50px;
}

.sub nav {
    display: flex;
    float: right;
}


